{% extends 'blog/base.html' %}
{% block title %}Добавление поста{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Форма добавления</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}
            {{ form.body }}
            {{ form.cat }}
            {{ form.status }}
            {{ form.image }}
            {{ form.video }}
            <button class="btn btn-success" type="submit">Добавить пост</button>
            <span>{{ error }}</span>
    {% else %}
        Пройдите регистрацию или войдите под своей учетной записью
    {% endif %}
  </form>
{% endblock %}