{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>Объявления</h1>
        {% for post in posts %}
        <h2>
            <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
        </h2>
        <p class="date"> Опубликовано {{ post.publish }}  {{ post.author }} <strong>Ктегория {{ post.cat }}</strong></p>
        {{ post.body|truncatewords:30|linebreaks }}
        {% endfor %}
        {% if user.is_authenticated %}
        <a href="{% url 'blog:post_add' %}" class="btn btn-primary">Добавить пост</a>
        {% endif %}
        {% include 'blog/pagination.html' with page=page_obj %}

{% endblock %}